<div class="menu">
  <a href="#" class="icon-main">M</a>
  <a href="#skills" class="icon-skills"></a>
  <a href="#projects" class="icon-projects"></a>
  <a href="#contact" class="icon-contact"></a>
  <div class="divider"></div>
  <a href="#" class="icon-linkedin"></a>
  <a href="https://github.com/Marcio-R" class="icon-github"></a>
</div>

<section class="main">
  <div class="content">
     <div class="leftside">
       <h1>Olá, <br>
         Eu sou <span>M</span>árcio, <br> desenvolvedor .Net 
       </h1>
       <button class="btn-contact">Entrar em contato</button>
     </div>
     <div class="img"></div>
  </div>
</section>

<section class="skills" id="skills">
  
  <h1>Competências</h1>

  <p>Backend</p>
  <div class="loading backend"></div>

  <p>Frontend</p>
  <div class="loading frontend"></div>

  <p>Devops</p>
  <div class="loading devops"></div>

</section>

<section class="projects" id="projects">
  
  <h1>Portfólio e<br> Experiências</h1>
  <div class="boxes">
    <div class="box blue"><a href="https://linkedin.com/in/marcio-ronaldo">linkedin</a></div>
    <div class="box red"><a href="https://github.com/Marcio-R">github</a></div>
    <div class="box blue"></div>
  </div>
  <div class="boxes">
    <div class="box orange"></div>
    <div class="box green"></div>
    <div class="box orange"></div>
  </div>

</section>

<section class="contact" id="contact">
<h1>Entrar em<br/>contato</h1>

  <div class="form">
    <div class="row">
      <input class="input" type="text" placeholder="Nome" [(ngModel)]="name">
      <input class="input" type="text" placeholder="Email" [(ngModel)]="email">
    </div>
    <input class="input" type="text" placeholder="Assunto" [(ngModel)]="subject">
    <textarea class="textarea" placeholder="Messagem" [(ngModel)]="message"></textarea>
    <button class="submit" type="submit" (click)= "sendMessage()">Enviar</button>
  </div>
</section>
